Assignment 1

1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

'hello': Value(string)
-87.8  : Value(float)
-      : Expression(hyphen)
/      : Expression(slash)
+      : Expression(plus)
6      : Value(integer)

2. What is the difference between string and variable?

Variable is used for storing a value 
eg. a= 12 where a is variable

String is set of characters enclosed in a inverted commas which is stored in a varaible
eg. b='Hello' where 'Hello' is a string

3. Describe three different data types.

String: Strings are sequences of character data. The string type in Python is called str. String literals may be delimited using either single or double quotes. All the characters between the opening delimiter and matching closing delimiter are part of the string.
eg. a="This is python programming"

Integer: This value is represented by int class. It contains positive or negative whole numbers. In Python there is no limit to how long an integer value can be.
eg. b=45
    c=3
    
Float: This value is represented by float class. It is a real number with floating point representation. It is specified by a decimal point. Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation.
eg. x=5.1
    y=76.0

4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators and operands that is interpreted to produce some other value. In any programming language, an expression is evaluated as per the precedence of its operators. So that if there is more than one operator in an expression, their precedence decides which operation will be performed first.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Statements represent an action or command e.g print statements, assignment statements. Expression is a combination of variables, operations and values that yields a result value.
spam= 10 is a expression.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [3]:
bacon=22
bacon + 1

23

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [4]:
'spam' + 'spamspam'

'spamspamspam'

In [5]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Vraiable name can be set of characters which have alpha-numeric characters and underscore. And name of variable should always start with alphabet or underscore.
egg can be a variable name because it satisfies the above condition but 100 can't be a variable name because it starts with a digit which is contradicting a rule for writing variable

9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int() , float()  and str( )

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

'I have eaten' + 99 +'burritos'
This expreeion causes error because we can't add string and integer but we can add same data type like str and str or int and int so to fix the error we can write 99 as a string

In [7]:
'I have eaten' + '99' +'burritos'

'I have eaten99burritos'